<ion-header>
  <div id="arriba">
    <div>
      <ion-item id="perfil" color="primary" style="--background: transparent;" lines="none">
        <img [src]="cosmetic_src" id="cosmetico"/>
        
        <p id="info">
          <ion-label id="label" [textContent]="username"></ion-label>
          
          <ion-label id="label" [textContent]="coins"></ion-label>
        </p>

        <ion-icon id="settings" slot="end" name="settings-outline" size="large" (click)="settings()"></ion-icon>
        
      </ion-item>
    </div>
    <div>
      <ion-button id="newGame" (click)="chooseOptions()" color="secondary">
        <p>+ New Game</p>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content color="light">

  <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)"  pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <div id="partidas"><app-lista-partidas id="games"></app-lista-partidas></div>
  <div id="partidasNt"><app-lista-partidas-nt id="games"></app-lista-partidas-nt></div>
 </ion-content>
 

 <app-footer id="games"></app-footer>
