ion-header{
  position: initial;
}

ion-item{
  border:rgb(0, 0, 0) solid 0rem;
}

#perfil {
    border-radius: 1rem;
    width: 90%;
    margin: 5%;
    margin-top: 10%;
    font-size: 0.8rem;
    font-weight: bold;
}

#settings{
  margin-right: 5%;
}

#info {
    box-shadow: none;
    margin-left: 10%;
    height: 75%;
    margin-top: 12.5%;

}

#label {
  margin-top: 25%;
  color: #fff;
}

#newGame {
    margin-left: 10%;
    width: 80%;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

ion-button{
  --border-radius: 1rem;
}
  
#newGame p {
  font-size: 1.125rem;
}
#partidas {
  padding-top: 2.5%;
  width: 100%;    
  border-radius: 10px;
  z-index: -1;
}

#partidasNt {
  padding-top: 2.5%;
  margin-top: 10%;
  width: 100%;    
  border-radius: 10px;
  z-index: -1;
}

#games {
  z-index: -1;
}


.footer{
  margin-left: 12%;
  width: 10%;
  height: 1.5rem;
}

#cosmetico{
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

#partidas {
  //border: 1px solid #000;
 // margin-left: 7.5%;
 // margin-right: 7.5%;    
 // border-radius: 10px;
  text-align: center;
  z-index: -1;
  margin:auto;
}
#title{
  font-weight: bold;
  color: #112d4e;
}

#subtitle{
  font-weight: bold;
  color: #3f72af;
}

.lista{
  background-color: #e8f0fc;
  z-index: -1;
  display: inline-block;
  width: 100%;
  contain: layout;
}

ion-infinite-scroll-content{
  display: layout !important;
}

ion-item{
  width: 100%;
}
