ion-header{
    position: initial;
  }
  
  #menu{
    font-weight: bold;
}

#partidas {
    //border: 1px solid #000;
   // margin-left: 7.5%;
   // margin-right: 7.5%;    
   // border-radius: 10px;
    text-align: center;
  }


  #title{
    text-align: center;
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #112d4e;
  }
  
  #subtitle{
    text-align: center;
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #3f72af;
  }
  
  #lista{
    background-color: #e8f0fc;
    border-width: 0;
}

