<!--
 -- Author: Jaime Martín
 -- Filename: public-room.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the public room page
-->
<ion-header>
  <div>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button [disabled]="!cargando" (click)="goOut()"></ion-back-button>
      </ion-buttons>
      <ion-title id="menu">Random Game</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <div id="cargador" *ngIf="cargando">
    <ion-spinner color="primary" id="spin"></ion-spinner>
    <ion-title color="primary" id="menu">Waiting for players...</ion-title>
  </div>


  <div id="jugadores" *ngIf="!cargando"> 
    <br>
    <div id="container_timer">
      <ion-label color="primary" id="timer">Game starts in {{time}} seconds</ion-label>
    </div>
    <br>
    <ion-title id="menu">Players</ion-title>
    <br>
    <ion-list id="lista">
      <ion-card *ngFor="let item of players" id="friend" color="tertiary">
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <div id="container">
              <img src="../../assets/cosmetics/cosmetic_{{item.actual_cosmetic}}.png" id="cosmetico"/>
            <div id="container-inner">
              <ion-label>
                <b>{{item.nickname}}</b>
              </ion-label>
            </div>
          </div>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  
</ion-content>

<ion-footer color="light">
  <ion-button  id="but" expand="block" color="danger" [disabled]="!cargando" (click)="goOut()">CANCELAR</ion-button>
</ion-footer>