<p id="title">Choose a game mode</p>
<ion-grid id="grid"> 
  <ion-row>
    <ion-col class="categ">

      <ion-button class="img-grid" color="tertiary" (click)="chooseOptions()">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Create
      </ion-button>

    </ion-col>

    <ion-col class="categ">

      <ion-button class="img-grid" color="tertiary" (click)="introduceCode()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Join
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>