<a id="title">Choose a game mode</a>
<ion-grid id="grid">
  <ion-row>
    <ion-col class="categ">
      <a (click)="chooseOptions()">
        <ion-img class="img-grid" src="assets/icon/friendMatch.png"></ion-img>
        <ion-label>Create</ion-label>
      </a>
    </ion-col>
    <ion-col></ion-col>
    <ion-col class="categ">
      <a (click)="introduceCode()">
        <ion-img class="img-grid" src="assets/icon/random.webp"></ion-img>
        <ion-label>Join</ion-label>
      </a>
    </ion-col>
  </ion-row>
</ion-grid>