<div id="friend" color="tertiary">
  <div id="container">
    <img src="../../assets/cosmetic_{{this.player.skin}}.png" id="cosmetico"/>
  
  </div><ion-grid>
    <ion-row>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(0)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[0]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(1)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[1]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(2)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[2]}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(3)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[3]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(4)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[4]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category">
          <ion-img src={{getToken(5)}} id ="image"></ion-img>
          <p id = "name">{{tokenList[5]}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 
</div>