#friend {
    display: block;
    flex-direction: column;
    width: 80% !important;
    height: 80%;
    margin: 0 !important;
  }

#container{
    height: 80%;
    display: block;
    flex-direction: row;
    align-items: center;
}

#cosmetico{
    height: 2.5rem;
    margin-right: 1.5rem;
}