<div class="wrapper">
  <div class="one">
    <ion-img src={{getToken(0)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[0]}}</p>
  </div>
  <div class="two">
    <ion-img src={{getToken(1)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[1]}}</p>
  </div>
  <div class="three">
    <ion-img src={{getToken(2)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[2]}}</p>
  </div>
  <div class="four">
    <ion-img src={{getToken(3)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[3]}}</p>
  </div>
  <div class="five">
    <ion-img src={{getToken(4)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[4]}}</p>
  </div>
  <div class="six">
    <ion-img src={{getToken(5)}} id ="image"></ion-img>
    <p id = "name">{{tokenList[5]}}</p>
  </div>
</div>