ion-header{
    position: initial;
    
}

#cargador{
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

#spin{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.25rem;
}

ion-footer{
    position: initial;
}

#but{
    margin: 5%;
}

#container_timer{
    width: 100%;
    text-align: center;

}

#timer{
    font-weight: bold;
}

#menu{
    font-weight: bold;
}
#lista{
    background-color: #e8f0fc;
}

#container{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}



#cosmetico{
    height: 2.5rem;
    margin-right: 1.5rem;
}

.img-grid{
    width: 90%;
    margin: 5%;
}

