<ion-item id="footer" color="primary">
  <ion-avatar slot="start">
    <a href="initial-menu"><ion-img src="../../assets/icon/shop-1.png"></ion-img></a>
  </ion-avatar>
  <ion-avatar slot="start">
    <a href="initial-menu"><ion-img src="../../assets/icon/32223.png"></ion-img></a>
  </ion-avatar>
  <ion-avatar slot="start">
    <a href="initial-menu"><ion-img src="../../assets/icon/Home-Logo-Background-PNG-Image.png"></ion-img></a>
  </ion-avatar>
  <ion-avatar slot="start">
    <a href="initial-menu"><ion-img src="../../assets/icon/statistics.png"></ion-img></a>
  </ion-avatar>
  <ion-avatar slot="start">
    <a href="suggest"><ion-img src="../../assets/icon/plus.png"></ion-img></a>
  </ion-avatar>
</ion-item>