<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="initial-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>questions-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="lista">
    <ion-item *ngFor="let item of Question; let i = index" (click)="onClick(i)" color="light">
      <div>
          {{item.nickname}}</div> <div id="category">{{item.category_name}}
          </div>
    </ion-item>
  </ion-list>
</ion-content>
