<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="initial-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>questions-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of question; let i = index">
      <a href="validate-question"><ion-label> Pregunta {{ i + 1 }} + {{item.text}}</ion-label>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon></a>
    </ion-item>
  </ion-list>
</ion-content>
