.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
  
  .other-message {
    background: var(--ion-color-secondary);
  }
  
  