<ion-grid id="grid"> 
  <ion-row>
    <ion-col class="categ">

      <ion-button class="img-grid" color="tertiary" (click)="suggestQuestion()">
        <ion-icon slot="start" name="reader"></ion-icon>
        Suggest a question
      </ion-button>

    </ion-col>

    <ion-col class="categ">

      <ion-button class="img-grid" color="tertiary" (click)="closeSession()">
        <ion-icon slot="start" name="close-circle"></ion-icon>
        Close session
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>