#logo{
    display: block;
    width: 40%;
    margin:20% auto;
}


ion-input{
    border-color: black;
    color:black;
    border-radius: 5px;
    margin:auto 5%;
}

ion-icon{
    color: black;
}

ion-item{
    margin-top: 10%;
}

ion-button{
    position:absolute;
    bottom: 10%;
    margin-left:20%;
    width: 60%;
    text-align: center;
}