#logo{
    display: block;
    margin:10% auto;
    width: 25%;
    height: 20%;
}
ion-input{
    border-color: black;
    border-radius: 5px;
    margin:auto 5%;
}
ion-content{
    margin-top: 10%;
}
ion-button{
    position:relative;
    margin:20% 23%;
    
}
h2{
    text-align: center;
    padding-left: 3%;
}