ion-header{
    position: initial;
  }
  
  ion-title{
    font-weight: bold;
  }
  

#logo{
    display: block;
    width: 40%;
    margin:20% auto;
}


ion-input{
    border-color: black;
    color:black;
    border-radius: 5px;
    margin:auto 5%;
    font-size: 1.125rem;
}

ion-label{
    margin-left: 8%;
}

ion-icon{
    margin-left: 4%;
    margin-right: 0%;
    color: black;
}

ion-item{
    margin-top: 10%;
}

ion-button{
    position:fixed;
    bottom: 10%;
    margin-left:20%;
    width: 60%;
    text-align: center;
}