<!--
 -- Author: Celia Mainar
 -- Filename: login.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page login
-->
<ion-header color="light">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/quizzylogo.png" id="logo">
  <form [formGroup] ="formLogin" (ngSubmit)="login()">

    <div>
      <!--<ion-text> <h2>Username</h2> </ion-text>-->
    <ion-item color="light">
      <ion-input type="text" formControlName="name" placeholder="Username"></ion-input>
      <ion-icon slot="start" name="person-outline" ></ion-icon>
    </ion-item>
    <ion-label color="danger" *ngIf ="formLogin.controls.name.errors?.required && (formLogin.controls.name.touched || formLogin.controls.name.dirty)"> * Username is required </ion-label>
  
    <!--<ion-text> <h2>Password</h2></ion-text>-->
    <ion-item color="light">
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-label color="danger" *ngIf ="formLogin.controls.password.errors?.required && (formLogin.controls.password.touched || formLogin.controls.password.dirty)"> * Password is required </ion-label>
    </div>
    <ion-button type="submit" [disabled]="!formLogin.valid" color="primary">Log In</ion-button>
  </form>
</ion-content>