ion-content{
    padding: 1rem;
}

a{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.5rem;
    margin-right: 0px;
}

p{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

#image {
    height: 2.5rem;
}
.mbsc-windows.mbsc-button {
    margin: 0.125rem;
}

.multi{

    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            30%,
            1fr
        )
    );
    justify-content: space-evenly;
}


#grid {
    text-align: center;
}

#start {
    display: flex;
    margin: 5%;
    width: 90%;
}