<p>Choose Training Options</p>
<br>
<a>Categories</a>

 <mbsc-segmented-group select="multiple" class="multi">
  <mbsc-segmented *ngFor="let item of myGroupItems1" [(value)]="item.value" [(checked)]="item.selected" class="card">
    <div (click)="categoryChanged1(item.value)">
      <ion-img src={{item.img}} id ="image"></ion-img>
      <p id = "name">{{item.text}}</p>
    </div>
  </mbsc-segmented>
</mbsc-segmented-group>

<mbsc-segmented-group select="multiple" class="multi">
  <mbsc-segmented *ngFor="let item of myGroupItems2" [(value)]="item.value" [(checked)]="item.selected" class="card">
    <div (click)="categoryChanged2(item.value)">
      <ion-img src={{item.img}} id ="image"></ion-img>
      <p id = "name">{{item.text}}</p>
    </div>
  </mbsc-segmented>
</mbsc-segmented-group>

<mbsc-segmented-group select="multiple" class="multi">
  <mbsc-segmented *ngFor="let item of myGroupItems3" [(value)]="item.value" [(checked)]="item.selected" class="card">
    <div (click)="categoryChanged3(item.value)">
      <ion-img src={{item.img}} id ="image"></ion-img>
      <p id = "name">{{item.text}}</p>
    </div>
  </mbsc-segmented>
</mbsc-segmented-group>

<br>
<a>Difficulty</a>
<ion-segment (ionChange)="segmentChanged($event)" value="1">
  <ion-segment-button value="0">
    <ion-label>Easy</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>Normal</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Hard</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-button id="start" [disabled]="cat()" (click)="setOptions()">Start Training</ion-button>
