.img-grid {
    margin-left: 5%;
    width: auto;
    height: 80px;
}

.categ {
    border: solid 1px #000;
}

#modes {
    text-align: center;
}

#title {
    text-align: center;
    position: relative;
    width: 100%;
}

#grid {
    text-align: center;
}

#start {
    display: flex;
    align-items: center;
}