<div id="modes">
  <p id="title">Choose a game mode</p>
  <ion-grid id="grid">
        
        <ion-button class="img-grid" color="tertiary" (click)="chooseOptions()">
            <ion-icon slot="start" name="people"></ion-icon>
            Private Game
        </ion-button>

        <ion-button class="img-grid" color="tertiary" (click)="enqueue()">
          <ion-icon slot="start" name="shuffle-outline"></ion-icon>
          Random Game
        </ion-button>
        
        <ion-button class="img-grid" color="tertiary" (click)="chooseTraining()">
          <ion-icon slot="start" name="barbell-outline"></ion-icon>
          Training Mode
        </ion-button>
  </ion-grid>
</div>