ion-button{
    --border-radius: 0.5rem;
}

.img-grid {
    width: 90%;
    height: 3rem;
}

ion-row{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            90%,
            1fr
        )
    );
    gap: 3%;
}


#title {
    text-align: center;
    position: relative;
    width: 100%;
}

#grid {
    text-align: center;
    --border-radius:1rem;
}