.img-grid {
    margin-left: 40%;
    width: 20%;
}

ion-row{
    display: grid;
    grid-template-columns: repeat(
        auto-fit, 
        minmax(
            90%,
            1fr
        )
    );
    gap: 3%;
}

.option{
    background-color: #cadefc;
    border-radius: 1rem;
    padding: 2%;
    margin-bottom: 5%;
}

#modes {
    text-align: center;
}

#title {
    text-align: center;
    position: relative;
    width: 100%;
}

#grid {
    text-align: center;
}

#start {
    display: flex;
    align-items: center;
}