<div id="modes">
  <p id="title">Choose a game mode</p>
  <ion-grid id="grid">
    <ion-row>
      <ion-col class="categ">
        <div (click)="chooseOptions()" class="option">
          <div>
            <!--<ion-img class="img-grid" src="assets/icon/friendMatch.png"></ion-img>-->
          </div>
          
          <p>Private Game</p>
        </div>
          
      </ion-col>
      <ion-col class="categ">
        <div class="option">
          <!--<ion-img class="img-grid" src="assets/icon/random.webp" ></ion-img>-->
          <p>Random Game</p>
        </div>
      </ion-col>
      <ion-col class="categ">
        <div (click)="chooseTraining()" class="option">
          <!--<ion-img class="img-grid" src="assets/icon/training.webp" ></ion-img>-->
          <p>Training Mode</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>