#question {
    border: 1px solid #000;
    margin-left: 7.5%;
    width: 85%;    
    height: 25%;
    border-radius: 10px;
  }

#label {
    margin-left: 10%;
}

#answer {
    border: 1px solid #000;
    margin-left: 7.5%;
    width: 85%;    
    border-radius: 10px;
    columns: "40";
  }

  #submit {
    margin-left: 10%;
    border: #000 1px solid;
    background-color: blue;
    width: 80%;
    height: 75px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
#submit a {
  font-size: 24px;
  color: #fff;
}