#partidas {
    //border: 1px solid #000;
   // margin-left: 7.5%;
   // margin-right: 7.5%;
    width: 85%;    
   // border-radius: 10px;
    text-align: center;
    z-index: -1;
    position: static;
}

#partidas a {
    font-style: italic;
    color: #000;
    width: fit-content;
}