ion-button {
    margin: 5%;
    width: 90%;
    height: 3rem;
    --border-radius: 0.5rem;
}

ion-input{
    margin-top: 5%;
    border-color: black;
    color:black;
    border-radius: 5px;
    font-size: 1rem;
}