<!--
 -- Author: Celia Mainar
 -- Filename: sign-up.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page sign-up
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup] ="formSignUp" (ngSubmit)="signUp()">
    <ion-text> <h2> Usuario </h2> </ion-text>
    <ion-item>
      <ion-input type="text" formControlName="name"> </ion-input>
      <ion-icon slot="start" name="person-outline"></ion-icon>
    </ion-item>
    <ion-label color="danger" *ngIf = "formSignUp.controls.name.errors?.required && (formSignUp.controls.name.touched || formSignUp.controls.name.dirty)">* El Usuario es Obligatorio</ion-label>
    <ion-label color="danger" *ngIf = "formSignUp.controls.name.errors?.maxlength && (formSignUp.controls.name.touched || formSignUp.controls.name.dirty)">* El nombre del usuario ha de ser menor de 20 caracteres</ion-label>
      <ion-text> <h2> Email </h2> </ion-text>
    <ion-item>    
      <ion-input type="email" formControlName="email"> </ion-input>
      <ion-icon slot="start" name="at-outline"></ion-icon>
    </ion-item>
    <ion-label color="danger" *ngIf = "formSignUp.controls.email.errors?.email && (formSignUp.controls.email.touched || formSignUp.controls.email.dirty)">* El email no es válido</ion-label>    
    <ion-text> <h2> Contraseña </h2> </ion-text>
    <ion-item>
      <ion-input type="password" formControlName="password"> </ion-input>
      <ion-icon slot="start" name="lock-closed-outline" *ngIf ="validatePassword(formSignUp.controls.password.value)===0"></ion-icon>
      <ion-icon slot="start" name="lock-closed-outline" color ="danger" *ngIf ="validatePassword(formSignUp.controls.password.value) === 1"></ion-icon>
      <ion-icon slot="start" name="lock-closed-outline" color = "warning" *ngIf ="validatePassword(formSignUp.controls.password.value) === 2"></ion-icon>
      <ion-icon slot="start" name="lock-closed-outline" color = "success" *ngIf ="validatePassword(formSignUp.controls.password.value) === 3"></ion-icon>
      <ion-label slot="end" color="danger" *ngIf ="validatePassword(formSignUp.controls.password.value) === 1">Débil</ion-label>
      <ion-label slot="end" color="warning" *ngIf = "validatePassword(formSignUp.controls.password.value) === 2">Normal</ion-label>
      <ion-label slot="end" color="success" *ngIf = "validatePassword(formSignUp.controls.password.value) === 3">Fuerte</ion-label>
    </ion-item>
    <ion-label color="danger" *ngIf = "formSignUp.controls.password.errors?.required && (formSignUp.controls.password.touched || formSignUp.controls.password.dirty)">* La Contraseña es obligatoria</ion-label>
    <ion-label color="danger" *ngIf = "formSignUp.controls.password.errors?.minlength && (formSignUp.controls.password.touched || formSignUp.controls.password.dirty)">* La Contraseña ha de tener 8 caracteres mínimo</ion-label>
    <ion-text> <h2> Confirmar Contraseña </h2> </ion-text>
    <ion-item>
      <ion-input type="password" formControlName="confirmPassword"> </ion-input>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <ion-label color="danger" *ngIf = "formSignUp.controls.confirmPassword.errors?.required && (formSignUp.controls.confirmPassword.touched || formSignUp.controls.confirmPassword.dirty)">* La Confirmación es obligatoria</ion-label>
    
    


    <ion-button type="submit" [disabled]="!formSignUp.valid" >Crear cuenta</ion-button>
  </form>
</ion-content>
