
ion-input{
    border-color: black;
    border-radius: 5px;
    margin:auto 5%;
}
ion-content{
    margin-top: 10%;
}
ion-button{
    position:relative;
    margin:10% 23%;
    
}
h2{
    padding-left: 3%;
}