
form{
    margin-top: 20%;
}

ion-label{
    margin-left: 8%;
}

ion-input{
    border-color: black;
    color: black;
    border-radius: 5px;
    margin:auto 5%;

    font-size: 1.125rem;
}

ion-icon{
    margin-left: 4%;
    margin-right: 0%;
    color: black;
}


ion-item{
    margin-top: 8%;
}

ion-button{
    position:absolute;
    bottom: 10%;
    margin-top:10%;
    margin-left:20%;
    width: 60%;
    text-align: center;
}