<!--
 -- Author: Celia Mainar
 -- Filename: sign-up.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page sign-up
-->
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup] ="formSignUp" (ngSubmit)="signUp()">
    <div>
      <!--<ion-text> <h2> Nickname </h2> </ion-text>-->
      <ion-item color="light">
        <ion-input type="text" formControlName="name" placeholder="Nickname"></ion-input>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-item>
      <ion-label color="danger" *ngIf = "formSignUp.controls.name.errors?.required && (formSignUp.controls.name.touched || formSignUp.controls.name.dirty)">* Username is required</ion-label>
      <ion-label color="danger" *ngIf = "formSignUp.controls.name.errors?.maxlength && (formSignUp.controls.name.touched || formSignUp.controls.name.dirty)">* The Username must be less than 20 characters</ion-label>
        <!--<ion-text> <h2> Email </h2> </ion-text>-->
      <ion-item color="light">    
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        <ion-icon slot="start" name="at-outline"></ion-icon>
      </ion-item>
      <ion-label color="danger" *ngIf = "formSignUp.controls.email.errors?.email && (formSignUp.controls.email.touched || formSignUp.controls.email.dirty)">* The email isn't valid</ion-label>    
      <!--<ion-text> <h2> Password </h2> </ion-text>-->
      <ion-item color="light">
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        <ion-icon slot="start" name="lock-closed-outline" *ngIf ="validatePassword(formSignUp.controls.password.value)===0"></ion-icon>
        <ion-icon slot="start" name="lock-closed-outline" color ="danger" *ngIf ="validatePassword(formSignUp.controls.password.value) === 1"></ion-icon>
        <ion-icon slot="start" name="lock-closed-outline" color = "warning" *ngIf ="validatePassword(formSignUp.controls.password.value) === 2"></ion-icon>
        <ion-icon slot="start" name="lock-closed-outline" color = "success" *ngIf ="validatePassword(formSignUp.controls.password.value) === 3"></ion-icon>
        <ion-label slot="end" color="danger" *ngIf ="validatePassword(formSignUp.controls.password.value) === 1">Weak</ion-label>
        <ion-label slot="end" color="warning" *ngIf = "validatePassword(formSignUp.controls.password.value) === 2">Medium</ion-label>
        <ion-label slot="end" color="success" *ngIf = "validatePassword(formSignUp.controls.password.value) === 3">Strong</ion-label>
      </ion-item>
      <ion-label color="danger" *ngIf = "formSignUp.controls.password.errors?.required && (formSignUp.controls.password.touched || formSignUp.controls.password.dirty)">* Password is required</ion-label>
      <ion-label color="danger" *ngIf = "formSignUp.controls.password.errors?.minlength && (formSignUp.controls.password.touched || formSignUp.controls.password.dirty)">* Password must have a minimum of 8 characters</ion-label>
      <!--<ion-text> <h2> Confirm Password</h2> </ion-text>-->
      <ion-item color="light">
        <ion-input type="password" formControlName="confirmPassword"  placeholder="Confirm Password"></ion-input>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-label color="danger" *ngIf = "formSignUp.controls.confirmPassword.errors?.required && (formSignUp.controls.confirmPassword.touched || formSignUp.controls.confirmPassword.dirty)">* Confirmation is required</ion-label>
    </div>
    <ion-button type="submit" [disabled]="!formSignUp.valid" color="primary">Sign Up</ion-button>
  </form>
</ion-content>
