<ion-buttons color="dark" slot="start" class ="front">
    <ion-back-button
      defaultHref="home"
      (click)="unlockOrientation()"
    ></ion-back-button>
    <ion-button class="front" id="menu">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-button href="chat">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-button>
    <ion-button (click)="showDice()" >
      <ion-icon name="dice"></ion-icon>
    </ion-button>
</ion-buttons>
<ion-content>
  <div id="phaser-game" class="absolute"></div> 
</ion-content>
<!--  <ion-split-pane when="sm">
  <ion-menu>
    <ion-header> 
      <ion-toolbar color="tertiary">
        <ion-title> Players </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle >
          <ion-item button *ngFor="let i of actors">
            <ion-img src= {{i.skin}}> </ion-img>
            <ion-label> {{i.name}} </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-split-pane> -->