<ion-content>
  <div id="phaser-game" class="absolute">
      <button class="chat">
        <ion-icon size="large" name="chatbubbles"></ion-icon>
      </button>
      <button class="players">
        <ion-icon size="large" name="people"></ion-icon>
      </button>
      <button class="quit" (click)="returnMenu()">
        <ion-icon size="large" name="close"></ion-icon>
      </button>
      <button class="dice" (click)="showDice()">
        <ion-icon size="large" name="dice"></ion-icon>
      </button>
  </div> 
</ion-content>