#boardDiv{
    width: 100%;
    height: 160%;
    background-image: url(../../assets/tableroFinalCentroCompleto.png);
    background-size: cover;
    //background-color: aqua;
}

#playersDiv{
    display:inline-block;
}