<!--
 -- Author: Celia Mainar
 -- Filename: shop.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page shop
-->
<ion-header>
  <div>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="initial-menu"></ion-back-button>
      </ion-buttons>
      <ion-title id="menu">Shop</ion-title>
    </ion-toolbar>
  </div>
  <ion-item color="light" lines="none">
    <ion-icon name="cash-outline" id="money-icon"></ion-icon>
    <ion-label id="money-span" [textContent]="coins"></ion-label>
  </ion-item>
</ion-header>

<ion-content>

  <div id="comodines"> 
    <ion-item color="secondary" lines="none" id="categ">
      <ion-icon name="color-wand" slot="start"></ion-icon>
      <ion-label item-end> WILDCARDS </ion-label>
    </ion-item>

    <ion-list id="lista">

      <ion-card *ngFor="let i of itemWildcards" color="tertiary" >
        <ion-card-header>
          <ion-card-title>{{i.wname}}</ion-card-title>
        </ion-card-header>
        <!--<img src="../../assets/quizzylogo.png"> -->
        <ion-card-content>
              <ion-button color="primary" (click)="buyWildcards(i)" id="but">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>
                  <b> {{ i.price}} $ </b>
                </ion-label>
              </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div id="cosmetics">
    <ion-item color="secondary" lines="none" id="categ">
      <ion-icon name="glasses-outline" slot="start"></ion-icon>
      <ion-label item-end> COSMETICS</ion-label>
    </ion-item>
    
    <ion-list id="lista">
      <ion-card *ngFor="let i of itemCosmetics" color="tertiary">
        <ion-card-header>
          <ion-card-title>{{i.items.cname}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <img src={{i.src}} id="cosmetico"/>

          <ion-button color="primary" (click)="buyCosmetics(i)" id="but" [disabled]="disableButton(i.items.cosmetic_id)">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>
              <b> {{ i.items.price}} $ </b>
            </ion-label>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>

<app-footer id="games"></app-footer>
