ion-header{
    position: initial;
    
}

#categ{
    border-radius: 1rem;
}

#lista{
    background-color: #e8f0fc;
}


#menu{
    font-weight: bold;
}

#money{
    padding-left: 5%;
}

#money-icon{
    font-weight: bold;
    width:2rem;
}

#money-span{
    font-weight: bold;
    padding-left: 5%;
    font-size:1.125rem;
    
}

#cosmetics{
   display: block;
}

#comodines {
   display:block;
}

ion-content{
    z-index: -1;
}

