<!--
 -- Author: Celia Mainar
 -- Filename: shop.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page shop
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-icon name="cash-outline" id="money-icon"></ion-icon>
    <ion-label id="money-span"> MONEY </ion-label>
 </ion-item-divider>

      <div id="cosmetics">
        <ion-button  color="tertiary">
          <ion-icon name="glasses-outline" slot="start"></ion-icon>
          <span> Cosmetics </span>
        </ion-button>
      </div>
     
      <div id="comodines"> 
        <ion-button  color="tertiary">
          <ion-icon name="color-wand-outline" slot="start"></ion-icon>
          <span slot="end"> Wildcards </span>
        </ion-button>
      </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="cash" class="footer"></ion-icon>
    <ion-icon name="archive" class="footer"></ion-icon>
    <ion-icon name="home" class="footer"></ion-icon>
    <ion-icon name="stats-chart" class="footer"></ion-icon>
  </ion-toolbar>
</ion-footer>

