<!--
 -- Author: Celia Mainar
 -- Filename: shop.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page shop
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider no-lines>
    <ion-icon name="cash-outline" id="money-icon"></ion-icon>
    <ion-label id="money-span"> MONEY </ion-label>
  </ion-item-divider>

  <div id="comodines"> 
    <ion-item color="tertiary">
      <ion-icon name="color-wand-outline" slot="start"></ion-icon>
      <ion-label item-end> WILDCARDS </ion-label>
    </ion-item>
    <ion-list>
      <ion-card *ngFor="let i of itemWildcards">
        <ion-card-header>
          <ion-card-title>{{i.name}}</ion-card-title>
        </ion-card-header>
        <!--<img src="../../assets/quizzylogo.png"> -->
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label>
                <b> {{ i.price}} $ </b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-rigth">
              <ion-button fill="clear" (click)="buyWildcards(i)">
                <ion-icon name="add" color="tertiary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div id="cosmetics">
    <ion-item color="tertiary">
      <ion-icon name="glasses-outline" slot="start"></ion-icon>
      <ion-label item-end> COSMETICS</ion-label>
    </ion-item>
    <ion-list>
      <ion-card *ngFor="let i of itemCosmetics">
        <ion-card-header>
          <ion-card-title>{{i.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <ion-label>
                <b> {{ i.price}} $ </b>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="ion-text-rigth">
              <ion-button fill="clear" (click)="buyCosmetics(i)">
                <ion-icon name="add" color="tertiary"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="fourth">
    <a [routerLink]="['/shop']"><ion-icon name="cash" class="footer"></ion-icon></a>
    <a [routerLink]="['/home']"><ion-icon name="archive" class="footer"></ion-icon></a>
    <a [routerLink]="['/board',6]"><ion-icon name="home" class="footer"></ion-icon></a>
    <a [routerLink]="['']"><ion-icon name="stats-chart" class="footer"></ion-icon></a>
  </ion-toolbar>
</ion-footer>

