#money{
    padding-left: 5%;
}
#money-icon{
    padding-top: 2%;
    width:25px;
    height: 25px;
    color: #000;
}
#money-span{
    padding-left: 2%;
    font-size:18px;
    color: #000;
}

#cosmetics{
   display: block;
}

#comodines {
   display:block;
}

.footer{
    padding-left: 13%;
    width: 25px;
    height: 25px;
}

