<div id="modes">
  <a id="title">Choose a game mode</a>
  <ion-grid id="grid">
    <ion-row>
      <ion-col class="categ">
        <ion-button (click)="suggestQuestion()">
          <ion-label>Suggest a question</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col class="categ">
        <ion-button (click)="validateQuestion()">
          <ion-label>Suggest a question</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col></ion-col>
      <ion-col class="categ">
        <ion-button (click)="closeSession()">
          <ion-label>Close Session</ion-label>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</div>