<ion-header>
  <ion-searchbar #autofocus showCancelButton="never" mode="ios" showClearButton="focus" (search)="getUsername($event)"></ion-searchbar>
</ion-header>
<ion-content>
  
  <ion-list id="lista">
    <ion-card *ngFor="let item of friends" id="friend" color="tertiary">
      <ion-card-content *ngIf="item.nickname != nickname">
        <div id="container">
            <img src="../../assets/cosmetics/cosmetic_{{item.actual_cosmetic}}.png" id="cosmetico"/>
          <div id="container-inner">
            <ion-label>
              <b>{{item.nickname}}</b>
            </ion-label>
          </div>
        </div>
        
        <div class="row">
            <ion-button class="img-grid" slot="end" color="success" [disabled]="disableButton(item.nickname)" (click)="request(item.nickname)">
              <ion-icon name="add" ></ion-icon>
              Send petition
            </ion-button>
        </div>   
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
