<ion-content>
  <ion-searchbar #autofocus showCancelButton="never" mode="ios" showClearButton="focus" (search)="getUsername($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of friends" id="friend">
        <ion-avatar slot="start"><ion-img src={{item.img}} id ="image"></ion-img></ion-avatar>
        <p id = "name">{{item.username}}</p>
        <ion-avatar (click)="request(item.username)" slot="end" id="icons"><ion-icon name="add-outline"></ion-icon></ion-avatar>+
    </ion-item>
  </ion-list>
</ion-content>
