#lista{
    background-color: #e8f0fc;
}

ion-header{
    position: initial;
}

.row{
    width: 100%;
}

.img-grid{
    width: 100%;
}

#container{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}



#cosmetico{
    height: 2.5rem;
    margin-right: 1.5rem;
}