<!--
 -- Author: Celia Mainar
 -- Filename: home.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page home
-->
<ion-content>
    <a href="initial-menu">
        <img src="assets/quizzylogo.png" id="logo">

    </a>

    <div id="botones">
        <ion-button id="inicio_sesion" href="login" >Sign In</ion-button>

        <ion-button id="crear_cuenta" href="sign-up" expand="full" fill="clear">Sign Up</ion-button>
    </div>
    

    <!-- <ion-button id="inicio_sesion" href="shop" color="primary">Prueba</ion-button> -->
</ion-content>
