<!--
 -- Author: Celia Mainar
 -- Filename: home.page.html
 -- Module: FrontEnd Mobile
 -- Description: This is the html of the page home
-->
<ion-content>
    <img src="assets/icon/quizzylogo.png" id="logo">

    <ion-button id="crear_cuenta" href="sign-up" color="tertiary">Sign Up</ion-button>
    
    <ion-button id="inicio_sesion" href="login" color="tertiary">Sign In</ion-button>

    <ion-button id="inicio_sesion" href="shop" color="tertiary">Prueba</ion-button>

    <ion-button id="inicio_sesion" href="initial-menu" color="tertiary">Home</ion-button>
</ion-content>
