#logo{
  display: block;
  border-radius: 40%;
  margin:0% auto;
  margin-top: 20%;
  height: 35%;
}

#botones{
  position: absolute;
  bottom: 10%;
  width: 100%;
  
}


#inicio_sesion{
  border-radius: 45%;
  margin-left: 5%;
  margin-top:10%;
  width: 90%;
  height: 3rem;
  font-size: 1.125rem;
}
